[Product]
type: localboot
id: sitlg-scratch-link
name: Scratch Link (sitlg)
description: Scratch Link erlaubt eine Hardware-Anbindung an Scratch-Projekte.
advice:
version: 1.4.3
packageVersion: 0.1
setupScript: install.ins
uninstallScript: remove.ins
